/* CSS reset  */
*{
   margin: 0px;
   padding: 0px; 
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables  */
:root{
    --navbar-height:59px;
}

/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    position: sticky;
}

/* Navigation bar: Logo and Image  */
#logo{
    margin: 34px 45px;


}
#logo img{
    margin: 3px 6px;
    height: 59px;

}

/* Navigation bar: List Styling  */

#navbar ul{
    display: flex;
    font-family: cursive;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: .4;
    top: 0px;
    left: 0px;
 

}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 23px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    
}

/* Home section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 511px;
    
}
#home::before{
    content: "";
    background:url('../imgs/cook3.jpg') no-repeat center center/cover;
    position: absolute;
    height: 658px;
    width: 100%;
    z-index: -1;
    opacity: .89;
    top: 0px;
    left: 0px;

}
#home h1{
    color: white;
    text-align: center;
    font-family: cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: cursive;
}
/* services classes */
#services{
    display: flex;
    margin: 34px;
}
#services .box{
    border: 2px solid saddlebrown;
    padding: 38px;
    margin: 25px 55px;
    border-radius: 28px;
    background-color: #f4eded;
    margin-bottom: 20px;
    
}
#services .box img{
   height: 160px;
   display: block;
   margin: auto;

}
#services .box p{
    font-family: cursive;
}
/* #services{}
#services{} */

/* client section */

#client-section{
    height: 344px;
    position: relative;
    
}
#client-section::before{
    content: "";
    position: absolute;
    background:url('../imgs/cook1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    
}
#clients img{
    height: 124px;
    
}
.class-item{
    padding: 34px ;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contact section  */
#contact{
    position: relative;
    /* height: 344px; */
    /* width: 344px; */
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background:url('../imgs/contact1.jpg') no-repeat center center/cover;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.3rem;
    border-radius: 10px;
    font-size: 1.1rem;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: cursive;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* Utility Classes  */
.h-primary{
    font-size:3.8rem;
    padding: 10px;
    font-family: cursive;

}
.h-secondary{
    font-size:2.3rem;
    padding: 12px;
    font-family: cursive;

}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    cursor: pointer;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    
}
.center{
    text-align: center;
}

/* phone css */


